.. _section-inventory-detail-{{ inventory_hostname }}:

Server **{{ ansible_hostname }}**
================================================================================

{% if hm_util_inspector__url_remote_console is defined %}
* **Remote console**: `link <{{ hm_util_inspector__url_remote_console }}>`__
{% endif %}
{% if hm_util_inspector__url_monitoring is defined  %}
* **Monitoring page**: `link <{{ hm_util_inspector__url_monitoring }}>`__
{% endif %}
{% if hm_util_inspector__url_documentation is defined  %}
* **Documentation page**: `link <{{ hm_util_inspector__url_documentation }}>`__
{% endif %}


.. _section-inventory-detail-{{ inventory_hostname }}-overview:

Overview
--------------------------------------------------------------------------------

================  ====================================
**Hostname**      {{ ansible_fqdn }}
**Distro**        {{ ansible_lsb.id }}
**Release**       {{ ansible_lsb.release }}
**Codename**      {{ ansible_lsb.codename }}
**Arch**          {{ ansible_userspace_architecture }}
**Kernel**        {{ ansible_kernel }}
**Server**        {{ ansible_product_name }}
**Serial**        {{ ansible_product_serial }}
**RAM**           {{ ansible_memtotal_mb }}
**Default IPv4**  {{ ansible_default_ipv4.address }}
**Default IPv6**  {{ ansible_default_ipv6.address }}
{% if hm_util_inspector__asset_tag is defined %}
**Asset tag**     {% if hm_util_inspector__url_inventory is defined %}`{{ hm_util_inspector__asset_tag }} <{{ hm_util_inspector__url_inventory }}>`__{% else %}{{ hm_util_inspector__asset_tag }}{% endif %}
{% endif %}

{% if hm_util_inspector__rackspace_allocation is defined %}
**Rackspace**     {% if hm_util_inspector__url_rackspace is defined %}`{{ hm_util_inspector__rackspace_allocation }} <{{hm_util_inspector__url_rackspace}}>`__{% else %}{{ hm_util_inspector__rackspace_allocation }}{% endif %}
{% endif %}

================  ====================================

* **Group memberships**: {{ group_names | join(', ') }}
* **System administrators**: {{ hm_accounts__admins | join(', ') }}


.. _section-inventory-detail-{{ inventory_hostname }}-dump:

Environment dump
--------------------------------------------------------------------------------

:ref:`Environment dump <section-inventory-dump-{{ inventory_hostname }}>`
