.. _section-inventory:

Inventory
================================================================================


.. _section-inventory-overview:

Overview
--------------------------------------------------------------------------------

.. list-table:: Server inventory overview
   :class: server-inventory
   :header-rows: 1

   * - Host
     - Type
     - Distro
     - Release
     - Codename
     - Arch
     - Kernel
     - Server
     - Serial
     - RAM
     - Default IPv4
     - Default IPv6
{% for iter_inventory_name in hostvars | sort %}

   * - :ref:`{{ iter_inventory_name }} <section-inventory-detail-{{ iter_inventory_name }}>`
     - {% if 'servers-production' in hostvars[iter_inventory_name].group_names %}prod{% elif 'servers-development' in hostvars[iter_inventory_name].group_names %}dev{% elif 'servers-demo' in hostvars[iter_inventory_name].group_names %}demo{% else %}none{% endif %}

{% if 'ansible_lsb' in hostvars[iter_inventory_name] %}
     - {{ hostvars[iter_inventory_name].ansible_lsb.id }}
     - {{ hostvars[iter_inventory_name].ansible_lsb.release }}
     - {{ hostvars[iter_inventory_name].ansible_lsb.codename }}
{% else %}
     - unknown
     - unknown
     - unknown
{% endif %}
{% for subkey in ('ansible_userspace_architecture', 'ansible_kernel', 'ansible_product_name', 'ansible_product_serial', 'ansible_memtotal_mb') %}
{% if subkey in hostvars[iter_inventory_name] %}
     - {{ hostvars[iter_inventory_name][subkey] }}
{% else %}
     - unknown
{% endif %}
{% endfor %}
{% if 'ansible_default_ipv4' in hostvars[iter_inventory_name] %}
     - {{ hostvars[iter_inventory_name].ansible_default_ipv4.address }}
{% else %}
     - unknown
{% endif %}
{% if 'ansible_default_ipv4' in hostvars[iter_inventory_name] %}
     - {{ hostvars[iter_inventory_name].ansible_default_ipv6.address }}
{% else %}
     - unknown
{% endif %}
{% endfor %}


.. _section-inventory-detail:

Server details
--------------------------------------------------------------------------------

.. toctree::
   :maxdepth: 1
   :glob:

   /vault/docs/inventory/detail_*


.. _section-inventory-dump:

Server fact dumps
--------------------------------------------------------------------------------

.. toctree::
   :maxdepth: 1
   :glob:

   /vault/docs/inventory/dump_*


Full environment dump
--------------------------------------------------------------------------------

.. toctree::
   :maxdepth: 1

   /vault/docs/envdump
