.. _section-monitoring-detail-{{ inventory_hostname }}:

Server monitoring for **{{ ansible_hostname }}**
================================================================================


Current NRPE command list:
--------------------------------------------------------------------------------

.. code-block:: json

{{ current_nrpe_command_list | to_nice_json | indent(width=4, first=True, blank=True) }}

