.. _section-monitoring:

Monitoring
================================================================================

.. _section-monitoring-list:

Server list
--------------------------------------------------------------------------------

.. toctree::
   :maxdepth: 1
   :glob:

   /inventory/docs/monitoring/detail_*
