.. _section-inventory:

Inventory
================================================================================

This section contains in-depth documentation for your inventory.

.. toctree::
   	:maxdepth: 2
   	:glob:
   	:caption: Contents:

   	inventory*
